extends layout

block content

    h1= title

    div
        p.delete Do you really want to delete this Hero?

    form(action="", method="post")
        input(type='hidden' required='true' name='heroid', value='hero._id')
        button(type='submit') Delete
    
    