doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.header
      div.home
        a(href='/catalog/') Home
        
      div.hero
        a(href='/catalog/hero/create') New Hero
        
      div.utility
        a(href='/catalog/utility/create') New Utility

    block content

    footer
      p
        | Made by Lakshya
        a(href='https://github.com/cartoonshow57')
          img(src='/images/GitHub-Mark-Light-32px.png', alt='Github Logo')
