doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div(class='home') Home
        
      div(class='hero') New Hero
        
      div(class='utility') New Utility
      
    hr

    block content

    footer
      hr
      | © Cartoonshow 2020
