* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf')
}

@font-face {
  font-family: Chilanka;
  src: url('../fonts/Chilanka-Regular.ttf')
}

body {
  background-image: url('../images/background_final.jpg');
}

.header {
  background-color: rgb(76, 235, 168);
  border-bottom: 3px solid black;
}

h1 {
  color: rgb(106, 235, 181);
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: underline;
}

.home {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin: 10px 5px 5px 20px;
  padding: 5px;
}

.home > a {
  color: black;
  text-decoration: none;
}

.hero, .utility {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 10px 5px 5px 40px;
  padding: 5px;
}

.hero > a, .utility > a {
  color: grey;
  text-decoration: none;
}

.index {
  opacity: 1;
  display: grid;
  height: 300px;
  width: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(14, 240, 172);
  font-size: 70px;
  font-family: Chilanka;
  justify-items: center;
  justify-content: center;
}

.index > div > a {
  color: rgb(0, 228, 133);
  text-decoration: none;
  border-radius: 5px;
  padding: 140px 100px;
  background-color: rgba(255, 255, 255, 0.233);
  border: 4px double rgb(0, 0, 0);
  border-radius: 25px;
  border-color: rgb(106, 235, 181);
}

.index > div > a:hover {
  background-color: rgba(87, 102, 96, 0.63);
}

section {
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  text-align: center;
}

section > a {
  text-decoration: none;
  color: rgb(0, 228, 133);
}

section > a:hover {
  text-decoration: underline;
}

.item {
  font-size: 35px;
  font-family: Chilanka;
  background-color: rgba(255, 255, 255, 0.233);
  border: 4px solid rgb(106, 235, 181);
}

.item:hover {
  background-color: rgba(87, 102, 96, 0.63);
}

footer {
  height: 45px;
  background-color: rgb(106, 235, 181);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid black;
}

footer > p > a > img {
  text-indent: 2.5em;
  margin-left: 10px;
}